# Основные библиотеки для работы с Python
pytest==7.1.2              # Фреймворк для написания тестов
pytest-cov==3.0.0          # Плагин для pytest для измерения покрытия кода тестами
coverage==6.3.2            # Инструмент для измерения покрытия кода тестами
pytest_mock==3.14.0
pylint==3.2.2